{% extends 'base.html.twig' %}
{% block title %}Create new Group{% endblock %}
{% block body %} 
<div style="max-width:600px">
{{ form_start(form) }}

{{ form_widget(form) }}
<div style="margin:5px 0">
   </div>
   <button type="submit" class="btn btn-secondary">Create</button>
{{ form_end(form) }}
</div>
{% endblock %}