{% extends 'base.html.twig' %}
{% block title %}Group Information{% endblock %}
{% block body %} 
{% if group %}
<h3> {{group.title}} </h3>

<br>
<table id="groups" class="table table-striped">
      <thead>
        <tr>
          <th>Users</th>
          <th>Info</th>
        </tr>
      </thead>
      <tbody>
        {% for li in list %}
          <tr>
            <td>{{li.user}}</td>
            <td>
            <a href="/users/user/{{ li.user.id }}" class="btn btn-dark">User Details</a>
            </td>
          </tr>
        {% endfor %}
      </tbody>
    </table>
{% else %}
<p>Something went wrong</p>
{% endif %}
<a href="/groups/" class="btn btn-primary">Back</a>
{% endblock %}