{% extends 'base.html.twig' %}
{% block title %}User Information{% endblock %}
{% block body %} 
{% if user %}
  <div class="card-body">
  <label>Name: </label>
    <h5 class="card-title">{{user.name}}</h5>
  <label>Email: </label>
    <p class="card-text">{{user.email}}</p>
  </div>
<br>
<table id="users" class="table table-striped">
      <thead>
        <tr>
          <th>Groups</th>
          <th>Info</th>
        </tr>
      </thead>
      <tbody>
        {% for li in list %}
          <tr>
            <td>{{li.grupe}}</td>
            <td>
            <a href="/groups/group/{{ li.grupe.id }}" class="btn btn-dark">Group Details</a>
            </td>
          </tr>
        {% endfor %}
      </tbody>
    </table>
{% else %}
<p>Something went wrong</p>
{% endif %}
<a href="/users/" class="btn btn-secondary">Back</a>
{% endblock %}