{% extends 'base.html.twig' %}
{% block title %}User Information{% endblock %}
{% block body %} 
{% if user %}
<h3> {{user.name}} </h3>

<br>
<table id="users" class="table table-striped">
      <thead>
        <tr>
          <th>User</th>
          <th>Actions</th>
        </tr>
      </thead>
      <tbody>
        {% for li in list %}
          <tr>
            <td>{{li.grupe}}</td>
            <td>
            <a href="/groups/group/{{ li.grupe.id }}" class="btn btn-dark">Group Details</a>
            <a href="/users/user/deleteGroup/{{li.id}}" class="btn btn-danger">Delete</a>
            </td>
          </tr>
        {% endfor %}
      </tbody>
    </table>
{% else %}
<p>Something went wrong</p>
{% endif %}
<a href="/users/" class="btn btn-primary">Back</a>
{% endblock %}